
/************************** GENERAL **************************/
    body{
        background-color: #B3D6DA;
    }

    .container{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 3.3em 17em auto 80px;
        grid-template-areas: 
                            "cabecera"
                            "menu"
                            "inicio"
                            "general"
                            "pie";
    }

    .general{
        grid-area:general;
        display: flex;
        flex-wrap:wrap;	
    }
/************************** GENERAL **************************/



/************************ CONTENIDO 1 ***********************/
    .contenido1{
        width: 100%;
        display: flex;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .intro{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .article__contenido1{
        width: 98.9%;
        align-items: center;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        border-radius:3px;
        background-color:#CBE0F3;
        border: 3px solid #3F5155;
    }

    .contenido1__p{
        padding-left: 1em;
        padding-right: 1em;
        text-align: justify;
        margin-bottom: 0.3em;
        font-size: 1em;
    }

    .contenido1__h3{
        font-family: "header";
        font-size: 1.5em;
        text-align: center;
        color: #3F5155;
        text-shadow: 0.07em 0.09em 0.02em #390010;
        margin-top: 0;
        margin-bottom: -0.5em;
        padding-top: 0.1em;
        padding-bottom: 0.2em;
        border-bottom: 3px solid #3F5155;
        background-color: #AFC5D2;
    }
/************************ CONTENIDO 1 ***********************/



/************************ CONTENIDO 2 ***********************/
    .contenido2{
        width: 100%;
        display: flex;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .article__contenido2{
        width: 98.9%;
        align-items: center;
        margin: 0.2em;
        border-radius:3px;
        background-color:#CBE0F3;
        border: 3px solid #3F5155;
    }

    .meteo{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .article__contenido2{
        text-align: center;
        width: 98.9%;
        align-items: center;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        border-radius:3px;
        background-color:#CBE0F3;
        border: 3px solid #3F5155;
    }

    .contenido2__meteo{
        width: 60%;
    }
/************************ CONTENIDO 2 ***********************/



/************************ CONTENIDO 3 ***********************/
    .contenido3{
        display: flex;
        width: 100%;
        border-top: 3px solid #3F5155;
        border-bottom: 3px solid #3F5155;
    }

    iframe{
        width: 100%;
        height: 18em;
    }
/************************ CONTENIDO 3 ***********************/



/************************ CONTENIDO 4 ***********************/
    .contenido4{
        display: flex;
        width: 100%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-top: 3px solid #3F5155;
    }

    .galeria{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        flex-wrap:wrap;	
    }

    .contenido4__img{
        width: 46.9%;
        margin-bottom: -0.24em;
        border: 4px solid #3F5155;
        border-radius: 3px;
        margin: 0.2em;
    }
/************************ CONTENIDO 4 ***********************/