
/************************** GENERAL **************************/
body{
    background-color: #B3D6DA;
}

.container{
    width: 100%;
    max-width: 900px;
    height: 55em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(6, 5em) 80px;
    grid-template-areas: 
                        "cabecera"
                        "menu"
                        "inicio"
                        "contenido1"
                        "contenido2"
                        "contenido3"
                        "contenido4"
                        "pie";
}

@font-face{
    font-family: "header";
    src: url(../fonts/KornerDeliNF.ttf);
}
/************************** GENERAL **************************/



/************************** HEADER **************************/
    .cabecera{
        grid-area:cabecera;
        background-image:url(../img/header2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-family: "header";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border-top: 3px solid #3F5155; */
        border-bottom: 3px solid #3F5155;
        margin-top: -0.47em;
    }

    .cabecera__h2{
        margin-top: 0.2em;
        font-size: 2.8em;
        color: #8FA5BA;
        text-shadow: 0.08em 0.07em 0.02em #390010;
    }

    .cabecera__h3{
        margin-top: -2.5em;
        color: #9CB3C1;
        text-shadow: 0.08em 0.07em 0.02em #390010;
    }
/************************** HEADER **************************/

.menu{
    grid-area:menu;
    border: 1px solid yellowgreen;
}

.inicio{
    grid-area:inicio;
    border: 1px solid brown;
}

.contenido1{
    grid-area:contenido1;
    border: 1px solid red;
}

.contenido2{
    grid-area:contenido2;
    border: 1px solid yellowgreen;
}

.contenido3{
    grid-area:contenido3;
    border: 1px solid brown;
}

.contenido4{
    grid-area:contenido4;
    border: 1px solid red;
}


/************************** FOOTER **************************/
    .pie{
        grid-area:pie;
        font-family: "header";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        border-top: 3px solid #3F5155;
        border-bottom: 3px solid #3F5155;
        background-color: #AFC5D2;
        color: #390010;
    }

    .pie__img{
        width: 40px;
    }

    .pie__h4{
        margin-top: 0.5em;
        margin-bottom: 0em;
        font-size: 0.8em;
    }
/************************** FOOTER **************************/